<div class="text-center">
  <h2>{{title}}</h2>
  <p>{{content}}</p>
  <p>Created by {{user.username}} on {{format_date date_created}}</p>

    <form class="form new-post-form">
      <div class="form-group">
        <label for="post-name">Title:</label>
        <input class="form-input" type="text" id="post-name" name="post-name" />
      </div>
      <div class="form-group">
        <label for="post-desc">Description:</label>
        <textarea class="form-input" id="post-desc" name="post-desc"></textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Create</button>
      </div>
    </form>
 
</div>
<div class="row">
{{#each post.comments}}

{{/each}}
</div>

{{#if logged_in}}
<!---input form to create new comment--->

{{else}}
<!---A message saying that you need to be logged in to comment--->
{{/if}}

<!---Do Logic To render Comments---->
<!-----Do Logic to create new comment and do the fecth to post on comment.js in public, route to post will be in comment-routes.js----->

  {{#if logged_in}}
  <script src="/js/comment.js"></script>
  {{/if}}